body {
    margin: 0;
    font-family: sans-serif;
}

header h1 {
    text-align: center;
}



article {
    margin: 1em 0;
    padding: 0 1em;
}

footer {
    text-align: center;
    background: #f9f9f9;
    border-top: 1px solid #cccccc;
    padding: 1em 0;
}
