{% set navigation_bar = [
    ('/', 'home', 'Home', False, ""),
    ('https://github.com/jos0003/Chat', 'github', 'Fork on Github', False, ""),
    ('/login', 'login', 'Login', True, "glyphicon glyphicon-log-in"),
    ('/signup', 'signup', 'Sign Up', True, "glyphicon glyphicon-user")
] -%}
{% set active_page = active_page|default('home') -%}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{ url_for('static', filename='form.js') }}"></script>
    </head>
    <body>
        <header>
            <h1>Chat</h1>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_bar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>                        
                                </button>
                            </div>
                        <div class="collapse navbar-collapse" id="nav_bar">
                            <ul class="nav navbar-nav">
                                {% for href, id, caption, is_on_right, class in navigation_bar if not is_on_right %}<li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{% if class != "" %}<span class="{{ class }}"> {% endif %}{{ caption|e }}{% if class != "" %}</span>{% endif %}</a></li>{% endfor %}
                            </ul>
                            {% if not session %}
                            <ul class="nav navbar-nav navbar-right">
                                {% for href, id, caption, is_on_right, class in navigation_bar if is_on_right %}<li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{% if class != "" %}<span class="{{ class }}"> {% endif %}{{ caption|e }}{% if class != "" %}</span>{% endif %}</a></li>{% endfor %}
                            </ul>
                            {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/logout">Log out</a></li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </nav>
        </header>
        <article class="container">
            {% block body %}{% endblock %}
        </article>
        <footer class="container-fluid">Copyright 2015 with <a href="https://github.com/jos0003/Chat/blob/master/LICENSE.md">BSD license</a>.</footer>
    </body>
</html>
