{% extends "layout.html" %}
{% block title %}Welcome to Chat!{% endblock %}
{% block body %}
    <h2>Welcome to Chat!</h2>
    <p>
        Chat is a simple chat application that runs on a python flask
        server, and currently has android and web clients.
    </p>
    <div class="row">
        <div class="col-sm-4">
            <h3>Open Source</h3>
            <p>
                Chat is open source with BSD license on github. This
                means you can fork the code and customise it to suit
                your needs.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Portable</h3>
            <p>
                Along with sqlite, Chat's server is portable,
                with minimal setup required to get it up and running.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Dedicated rooms</h3>
            <p>
                Each Chat server has a list of rooms where people can
                talk about a certain topic. 
            </p>
        </div>
    </div>
{% endblock %}
